version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: chatbot_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: chatbot_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://admin:password123@db:5432/chatbot_db?schema=public
    depends_on:
      - db
    command: npm run start:dev

volumes:
  postgres_data:
